<!DOCTYPE html>
<html>
<head>
    <title>Canciones</title>
    <style>
        body {
            font-family: Arial;
            background: #0f172a;
            color: white;
            text-align: center;
        }

        h1 {
            margin-top: 20px;
        }

        .card {
            background: #1e293b;
            margin: 15px auto;
            padding: 15px;
            width: 60%;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        }

        .artist {
            color: #38bdf8;
        }
    </style>
</head>
<body>

<h1>🎵 Lista de Canciones</h1>

{% for song in songs %}
    <div class="card">
        <h2>{{ song.title }}</h2>
        <p class="artist">Artista: {{ song.artist.name }}</p>
        <p>Género: {{ song.genre }}</p>
        <p>Duración: {{ song.duration }} seg</p>
    </div>
{% endfor %}

</body>
</html>